CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_xiaomi_redmi-router-ax6000=y

# 开启IPV6
CONFIG_PACKAGE_ipv6helper=y

# MTD-RW 解锁FIP使用
# CONFIG_PACKAGE_kmod-mtd-rw is not set

# SSR 配置
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_NONE_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_NONE_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Simple_Obfs is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client is not set
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ChinaDNS_NG=y
CONFIG_PACKAGE_luci-app-chinadns-ng=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_MosDNS is not set
# CONFIG_PACKAGE_luci-app-mosdns is not set

# 广告屏蔽大师
CONFIG_PACKAGE_luci-app-adbyby-plus=y
# 阿里云挂载
# CONFIG_PACKAGE_luci-app-alist is not set
# IP/MAC绑定
CONFIG_PACKAGE_luci-app-arpbind=y
# 定时重启
CONFIG_PACKAGE_luci-app-autoreboot=y
# 动态dns用不上，不需要开启
# CONFIG_PACKAGE_luci-app-ddns is not set
# CONFIG_PACKAGE_ddns-scripts is not set
# CONFIG_PACKAGE_ddns-scripts_aliyun is not set
# CONFIG_PACKAGE_ddns-scripts_dnspod is not set
# 内网穿透
CONFIG_PACKAGE_luci-app-frpc=y
# 盒子去广告 AX6000 LEDE 内核版本5.15不支持会崩溃
# CONFIG_PACKAGE_luci-app-ikoolproxy is not set
# 网络流量监控
CONFIG_PACKAGE_luci-app-nlbwmon=y
# 释放内存
CONFIG_PACKAGE_luci-app-ramfree=y
# ipv6转发ipv4神器等
CONFIG_PACKAGE_luci-app-socat=y
# 上网时间控制
CONFIG_PACKAGE_luci-app-timecontrol=y
# 网页终端
CONFIG_PACKAGE_luci-app-ttyd=y
# 自动端口转发即插即用网络协议
CONFIG_PACKAGE_luci-app-upnp=y
# uHTTPd Web服务器
CONFIG_PACKAGE_luci-app-uhttpd=y
# KMS激活
CONFIG_PACKAGE_luci-app-vlmcsd=y
# FTP Server
CONFIG_PACKAGE_luci-app-vsftpd=y
# 网络监控重启
CONFIG_PACKAGE_luci-app-watchcat=y
# 定时开关无线
CONFIG_PACKAGE_luci-app-wifischedule=y
# 网络唤醒
CONFIG_PACKAGE_luci-app-wol=y
# 终端发送接收文件工具
CONFIG_PACKAGE_lrzsz=y

# 硬件acc加速
CONFIG_PACKAGE_luci-app-turboacc=y

# uhttp使用https
# CONFIG_PACKAGE_luci-ssl-openssl is not set
# CONFIG_PACKAGE_libuhttpd-openssl is not set

# 主题
CONFIG_PACKAGE_luci-theme-argon-mod=y
